# -----------------------------------------------------------------------------------------
# Disable URL indexing by crawlers (FOR DEVELOPMENT/STAGE)
# -----------------------------------------------------------------------------------------

# Avoid search engines (Google, Yahoo, etc) indexing website's content
# http://yoast.com/prevent-site-being-indexed/
# http://code.google.com/web/controlcrawlindex/docs/robots_meta_tag.html
# Matt Cutt (from Google Webmaster Central) on this topic:
# http://www.youtube.com/watch?v=KBdEwpRQRD0

# IMPORTANT: serving this headers is recommended only for
# development/stage websites (or for live websites that don't
# want to be indexed). This will avoid the website
# being indexed in SERPs (search engines result pages).
# This is a better approach than using robots.txt
# to disallow the SE robots crawling your website,
# because disallowing the robots doesn't exactly
# mean that your website won't get indexed (read links above).
# https://github.com/h5bp/html5-boilerplate/issues/804

<IfModule mod_headers.c>
    Header set X-Robots-Tag "noindex, nofollow, noarchive"
    <FilesMatch "\.(doc|pdf|png|jpe?g|gif)$">
        Header set X-Robots-Tag "noindex, noarchive, nosnippet"
    </FilesMatch>
</IfModule>

<IfModule mod_setenvif.c>
SetEnvIfNoCase Host lpkglobal\.onecode\.id$ ENVIRONTMENT=production
SetEnvIfNoCase Host localhost$ ENVIRONTMENT=development
</IfModule>

<IfModule !mod_setenvif.c>
    SetEnv ENVIRONTMENT=development
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on

# Redirect /admin to /ui/app/admin
RewriteCond %{REQUEST_URI} ^/admin$
RewriteCond %{ENV:ENVIRONTMENT} production
RewriteRule ^(.*)$ /ui/app/finance-payment-admin-list [L,R=301]

# Redirect root or any other access to /ui/app/web-home
RewriteCond %{REQUEST_URI} !^/ui/
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_URI} !^/assets/
RewriteCond %{ENV:ENVIRONTMENT} production
RewriteRule ^(.*)$ /ui/app/web-product [L,R=301]

# Redirect /admin to /ui/app/admin
RewriteCond %{REQUEST_URI} ^/lms/admin$
RewriteCond %{ENV:ENVIRONTMENT} development
RewriteRule ^(.*)$ /lms/ui/app/finance-payment-admin-list [L,R=301]

# Redirect root or any other access to /ui/app/web-home
RewriteCond %{REQUEST_URI} !^/lms/ui/
RewriteCond %{REQUEST_URI} !^/lms/api/
RewriteCond %{REQUEST_URI} !^/lms/assets/
RewriteCond %{ENV:ENVIRONTMENT} development
RewriteRule ^(.*)$ /lms/ui/app/web-product [L,R=301]
</IfModule>